.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.text-primary {
    color: rgb(253, 110, 10);
}

.bg-secondary {
    background-color: rgb(255, 248, 243);
}

.dark-1 {
    color: rgb(24, 24, 24);
}

.dark-2 {
    color: rgb(71, 71, 71);
}

.dark-3 {
    color: rgb(117, 117, 117);
}

.btn-primary {
    background: rgb(253, 110, 10);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);

}

.text-center {
    text-align: center;
}

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* Bannar Styles section */
.banner {
    display: flex;
    align-items: center;

    margin: 0px 38px 0px 200px;
}

.banner-content {
    width: 585px;

}

.bannar-greetings {
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.bannar-title {
    font-size: 85px;
    font-weight: 700;
    margin: 0px;
}

.banner-profile-pic {
    width: 574px;
}

.banners-description {
    font-size: 18px;
    font-weight: 400;
}
.banner-content .btn-contact{
    
    margin-left: 30px;
   
}

/* main styles */
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
}

.about-items {
    display: flex;
    justify-content: space-evenly;
}

.about-item {
    text-align: center;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    color: rgb(117, 117, 117);
}

.item-description {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(117, 117, 117);
}

/* Skill styles section */

.skills>p {
    margin: 0px 116px;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 267px;
}

.skill-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(117, 117, 117);
}

/* Resume styles */
.resume-container{
    display: flex;
    margin-top: 0px;
    margin-bottom: 25px;
    gap: 24px;
}
.resume-title {
    font-size: 30px;
    font-weight: bold;
}

.degree-container {
    width: 511px;
    margin-bottom: 30px;
}

.degree-name {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.institude {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
     margin-top: 10px;
    margin-bottom: 10px;

}
.degree-description{
    font-size: 16px;
    font-weight: 400;
   color: rgb(117, 117, 117);
}
.boder-botton{
    /* Dark 05 */
border-bottom: 1px solid rgb(209, 209, 209);

}

/* footer sections */
footer{
background: rgb(255, 248, 243);
padding-top: 130px;
padding-bottom: 130px;
}
.footer{
     max-width: 1140px;
    margin: 0 auto;
   
}
.footer-container{
    display: flex;
    gap:117px;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap:25px;
}
input{
    display: block;
    width: 461px;
    height: 64px;
    background-color: white;
    color:rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
   
    padding-left: 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
textarea{
    display: block;
    width: 461px;
    height: 180px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
   
    padding-left: 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
